.clearfix{
  zoom: 1;
  &:after{
    display: block;
    content: "";
    clear: both;
  }
}

.commonText{
  color:white;
  line-height:1.5;
  font-size:15px;
}

.commonTitle{
  color:#009ee0;
  font-size:80px;
  line-height:0.8;
  font-weight:bold;
  letter-spacing:-5px;
}
