@import "../extend/extend";
@import "../animation/animation";
#app{
  .content{
    .list{
      li{
        &.team{
          & > div{
            & > .team-1{
              float: left;
              @extend .commonTitle;
              width: 400px;
              margin: 50px;
            }
            & > .team-2{
              float: right;
              @extend .commonText;
              width: 400px;
              margin: 50px;
            }
            & > .team-3{
              width: 944px;
              height: 448px;
              position: absolute;
              left: 0;
              right: 0;
              top: 250px;
              margin: auto;
              & > .list{
                width: 100%;
                height: 100%;
                & > .item{
                  float: left;
                  width: 12.5%;
                  height: 100%;
                  background:url("../../static/img/team.png") no-repeat;
                  transition: opacity .5s;
                  &:nth-child(2){
                    background-position:(-1px *118) 0;
                  }
                  &:nth-child(3){
                    background-position:(-2px *118) 0;
                  }
                  &:nth-child(4){
                    background-position:(-3px *118) 0;
                  }
                  &:nth-child(5){
                    background-position:(-4px *118) 0;
                  }
                  &:nth-child(6){
                    background-position:(-5px *118) 0;
                  }
                  &:nth-child(7){
                    background-position:(-6px *118) 0;
                  }
                  &:nth-child(8){
                    background-position:(-7px *118) 0;
                  }
                }
              }
              & > .qipaoOc{
                position: absolute;
                left: 0;
                top: 0;
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
