@keyframes move {
  0%{
    transform: translateX(0px) rotateY(0deg);
  }
  49%{
    transform: translateX(-399px) rotateY(0deg);
  }
  50%{
    transform: translateX(-400px) rotateY(180deg);
  }
  99%{
    transform: translateX(1px) rotateY(179deg);
  }
  100%{
    transform: translateX(0px) rotateY(0deg);
  }
}

@keyframes leftHide {
  0%{
    transform: translateX(0px) translateZ(0px) rotateY(0deg) scale(1);
    visibility: visible;
  }
  50%{
    transform: translateX(-500px) translateZ(0px) rotateY(30deg) scale(.8);
    visibility: visible;
  }
  100%{
    transform: translateX(0px) translateZ(-200px) rotateY(0deg) scale(.8);
    visibility: hidden;
  }
}
@keyframes rightHide {
  0%{
    transform: translateX(0px) translateZ(0px) rotateY(0deg) scale(1);
    visibility: visible;
  }
  50%{
    transform: translateX(500px) translateZ(0px) rotateY(-30deg) scale(.8);
    visibility: visible;
  }
  100%{
    transform: translateX(0px) translateZ(-200px) rotateY(0deg) scale(.8);
    visibility: hidden;
  }
}

@keyframes rightShow {
  0%{
    transform: translateX(0px) translateZ(-200px) rotateY(0deg) scale(.8);
    visibility: hidden;
  }
  50%{
    transform: translateX(500px) translateZ(0px) rotateY(-30deg) scale(.8);
    visibility: visible;
  }
  100%{
    transform: translateX(0px) translateZ(0px) rotateY(0deg) scale(1);
    visibility: visible;
  }
}
@keyframes leftShow {
  0%{
    transform: translateX(0px) translateZ(-200px) rotateY(0deg) scale(.8);
    visibility: hidden;
  }
  50%{
    transform: translateX(-500px) translateZ(0px) rotateY(30deg) scale(.8);
    visibility: visible;
  }
  100%{
    transform: translateX(0px) translateZ(0px) rotateY(0deg) scale(1);
    visibility: visible;
  }
}
