@import "./reset/reset";
@import "./mixin/mixin";
@import "./extend/extend";
@import "./business/home";
@import "./business/course";
@import "./business/works";
@import "./business/about";
@import "./business/team";

html{
  width: 100%;
  height: 100%;
  overflow: hidden;
  body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    #app{
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      .head{
        position: relative;
        width: 100%;
        background: white !important;
        .headMain{
          width: 1100px;
          height: 80px;
          margin: 0 auto;
          .logo{
            margin-top: 30px;
            float: left;
          }
          .nav{
            margin-top: 50px;
            float: right;
            .item{
              float: left;
              margin-left: 40px;
              & > a{
                position: relative;
                & > span{
                  color: #009EE0;
                  transition: width .5s;
                  display: block;
                  &:nth-child(2){
                    position: absolute;
                    left: 0;
                    top: 0;
                    color: black;
                    width: 0px;
                    overflow: hidden;
                  }
                }
              }
              &:hover{
                & > a{
                  & > span{
                    &:nth-child(2){
                      width: 100%;
                    }
                  }
                }
              }
              &:nth-child(1){
                margin-top: 2px;
              }
              &.active{
                & > a{
                  & > span{
                    &:nth-child(2){
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
          .arrow{
            transition: left .5s;
            z-index: 9;
            position: absolute;
            bottom: -11px;
            left: 50%;
            width: 21px;
            height: 11px;
            background: url("../../static/img/menuIndicator.png") no-repeat;
          }
        }
      }
      .content{
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        bottom: 0;
        background: gray;
      }
    }
  }
}
